.product-preview {
	@include respond(tabport) {
		margin-bottom: 30px;
	}
}
.product-item {
	position: static;

	h3 {
		font-size: 16px;
		line-height: 22px;
	}

	figure {
		margin-bottom: 15px;
	}
	.ribbon {
		position: absolute;
		top: 30px;
		right: 0;
		z-index: 8;
	}
}
.prod-info {
	@include flexbox;
	.post-meta {
		font-size: 12px;
		font-weight: $regular;
		line-height: 17px;
		color: #777;
		text-transform: uppercase;
	}
}
.price {
	del {
		color: #ff0000;
		margin-left: 10px;
	}
}

.ribbon {
	display: inline-block;
	font-size: 12px;
	font-weight: $regular;
	line-height: 17px;
	text-transform: uppercase;
	background: $secondary;
	color: #fff;
	padding: 7px 13px;
}

.product-filter-bar {
	position: relative;
	@include flexbox(center);

	@include respond(phone) {
		justify-content: center;
	}

	p {
		font-size: 18px;
		font-weight: $semibold;
		line-height: 25px;
		margin-bottom: 0;
		color: #000;

		@include respond(phone) {
			margin-bottom: 10px;
		}
	}
}

.sort-by {
	label {
		font-size: 12px;
		font-weight: $semibold;
		line-height: 17px;
		margin-bottom: 0;
		text-transform: uppercase;
		color: #000;
		margin-right: 11px;
	}

	select {
		background-color: #f6f7fb;
		border: 1px solid #eff0f5;
		border-radius: 50px;
		color: #777;
		outline: 0;
		padding: 9px 20px;
	}
}

// Product details
.preview-thumb {
	display: flex;
	justify-content: space-between;

	@include respond(tabport) {
		justify-content: flex-start;
	}

	a {
		max-width: 110px;
		flex-basis: 100%;
		width: 100%;

		&:not(:last-of-type) {
			@include respond(tabport) {
				margin-right: 5px;
			}
		}
	}
}

.product-info {
	.post-meta {
		text-transform: uppercase;
	}

	.product-title {
		color: #000;
		font-size: 30px;
		font-weight: $semibold;
		line-height: 43px;
		margin-bottom: 0;
		text-transform: capitalize;
	}

	.price {
		color: #000;
		font-size: 30px;
		font-weight: $semibold;
		line-height: 43px;
		margin-bottom: 0;

		del {
			font-size: 16px;
			font-weight: $regular;
			line-height: 22px;
		}
	}

	.size-filters,
	.color-filters,
	.quantity-box {
		@include flexbox(center, flex-start);
		border: none;
		padding-bottom: 0;
		h3 {
			margin-right: 30px;
		}
	}
	.quantity-box {
		margin-bottom: 30px;
	}

	.cricnotch-btn {
		border-radius: 5px;
		background: #32cf8a;
		color: #fff;
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		padding: 15px 40px;
		margin-right: 7px;
	}

	.fav-btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 5px;
		background: #f6f7fb;
		color: #777;
		font-size: 20px;
	}
}

.quantity {
	max-width: 95px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid #c9cbd5;
	border-radius: 50px;
	padding: 10px 20px;

	input {
		min-width: 30px;
		width: 100%;
		border: none;
		background: transparent;
		box-shadow: none;
		text-align: center;
		font-weight: 600;
		outline: none;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		/* Firefox */
		&[type="number"] {
			-moz-appearance: textfield;
		}
	}

	span {
		color: #ccc;
		cursor: pointer;
	}
}

.product-desc {
	.nav.nav-tabs {
		border: none;

		@include respond(phone) {
			display: block;
			border-radius: 10px 10px 0 0;
			overflow: hidden;
		}

		li {
			&:not(:last-child) {
				margin-right: 5px;

				@include respond(phone) {
					margin-right: 0;
				}
			}
			a {
				background-color: #2647d6;
				border-radius: 10px 10px 0 0;
				display: block;
				color: #fff;
				font-size: 15px;
				font-weight: $semibold;
				line-height: 21px;
				text-transform: uppercase;
				padding: 20px 40px;

				@include respond(phone) {
					border-radius: 0;
				}

				&.active {
					color: #2647d6;
					background-color: #fff;
				}
			}
		}
	}

	.tab-content {
		padding: 50px;
		background: #fff;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 5px 10px rgba(#3a5ae5, 0.15);

		@include respond(phone) {
			padding: 30px;
		}

		p {
			&:not(:last-of-type) {
				margin-bottom: 30px;
			}
		}
	}
}

/**********************************
* Cart Table style start
*********************************/
.product-cart-sec {
	.card {
		overflow: hidden;
	}
}

.cart-table {
	margin-bottom: 0px;
	thead {
		th {
			background-color: #eff0f5;
			text-transform: uppercase;
			font-weight: $semibold;
		}
	}
	tbody {
		tr {
			&:nth-child(even) {
				background-color: #eff0f5;
			}
			&:nth-child(odd) {
				background-color: #fff;
			}
		}
	}

	th,
	td {
		&:first-of-type {
			padding-left: 30px;
		}
		&:last-of-type {
			padding-right: 30px;
			text-align: center;
		}
	}
	td {
		padding: 20px 10px;
	}
	.item-thumb {
		max-width: 100px;
	}
	.description {
		max-width: 300px;
		color: #777;
		white-space: pre-wrap;
	}

	.stock-tag {
		display: inline-block;
		padding: 5px 12px;
		border: 1px solid #c9cbd5;
		border-radius: 50px;
		text-align: center;
		font-size: 12px;
		font-weight: 600;
		text-transform: capitalize;
		white-space: nowrap;
	}

	.item-remove-btn {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-color: transparent;
		border-radius: 50%;
		border: 1px solid #c9cbd5;
		transition: $transition;
		font-size: 20px;
		color: #777777;

		&:hover {
			background: #d10606;
			border-color: #d10606;
			color: #fff;
		}
	}

	.content-block {
		h3 {
			white-space: nowrap;
		}
	}
}

.color-filter-bullet {
	/* border: 3px solid transparent; */
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	border-radius: 50%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 23px;
	height: 23px;
	margin-right: 12px;
	cursor: pointer;

	&.selected {
		border-color: #fff;
		box-shadow: 0 3px 6px rgba(38, 71, 214, 0.2);
	}

	span {
		border-radius: inherit;
		display: block;
		width: 20px;
		height: 20px;
		padding: 3px;
	}
}

/**********************************
* Cart Details style start
*********************************/
.widget-cart-details {
	.cricnotch-btn {
		max-width: 250px;
		margin: 30px auto 20px;
		font-size: 15px;
		font-weight: $semibold;
		line-height: 21px;
		text-transform: uppercase;
		padding: 14px 40px;
		background-color: #32cf8a;
		color: #fff;
	}
}
.cart-details {
	position: relative;
	padding: 30px;

	li {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		font-weight: 400;
		color: #000;
		line-height: 20px;
		padding: 4px 0;

		p {
			margin: 0;
			color: #777;
		}
		span {
			font-weight: 600;
		}
	}
}

.cart-total {
	position: relative;
	padding: 20px 30px;
	background: #eff0f5;

	p {
		font-size: 18px;
		font-weight: $semibold;
		display: flex;
		justify-content: space-between;
		color: #000;
		margin-bottom: 0;
	}
	span {
		font-weight: $regular;
	}
	strong {
		font-weight: $semibold;
	}
}

// .cart-total-sm {
// 	@extend .cart-total;

// 	p span {
// 		font-weight: $semibold;
// 	}
// }

/**********************************
* Checkout style start
*********************************/
.pin-text {
	margin-bottom: 0;
	a {
		display: inline-block;
		text-decoration: underline;
	}
	i {
		font-size: 30px;
		vertical-align: middle;
		margin-right: 20px;
	}
}

.checkout-form {
	@extend .comment-form;

	label {
		text-transform: uppercase;

		span {
			color: #ff0000;
		}
	}

	input,
	textarea {
		outline: 0;
	}

	textarea {
		height: 100px;
		margin-bottom: 0;
	}

	select {
		background-color: #f6f7fb;
		border-radius: 5px;
		border: none;
		box-shadow: none;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		padding: 15px 20px;
		width: 100%;
		outline: 0;
	}
}

.shipment-form {
	@extend .checkout-form;

	.input-field {
		position: relative;
	}
}

.custom-checkbox {
	padding-left: 36px;
	position: relative;

	input[type="checkbox"] {
		width: auto;
		opacity: 0;
		visibility: hidden;

		&:checked {
			+ label {
				&:after {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		+ label {
			text-transform: none;
			color: #777;

			&:before {
				@include pseudo;
				width: 20px;
				height: 20px;
				background: #3a5ae5;
				display: block;
				border-radius: 3px;
			}

			&:after {
				@include pseudo(1px, $l: 4px);
				content: "\f00c";
				position: absolute;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				color: #fff;
				visibility: hidden;
				opacity: 0;
			}
		}
	}
}

/**********************************
* Mini cart panel style start
*********************************/
.mc-panel {
	position: absolute;
	width: 380px;
	background: #fff;
	top: calc(100% + 17px);
	right: 15px;
	z-index: 9;
	padding: 20px;
	box-shadow: 0 5px 10px rgba(58, 90, 229, 0.15);
	border-radius: 10px;
	display: none;

	@include respond(phone-sm) {
		width: 290px;
	}

	button {
		border: none;
		box-shadow: none;
		outline: 0;
		background: transparent;
	}

	.mc-header {
		@include flexbox(center);
		margin-bottom: 20px;

		h3 {
			font-size: 22px;
			color: #000;
		}
	}

	.mc-close {
		border: none;
	}
}

.mc-item {
	@include flexbox(flex-start);
	margin-bottom: 15px;

	&:hover {
		.mc-item-remove {
			opacity: 1;
			visibility: visible;
			top: 50%;
		}

		.mc-thumb:after {
			opacity: 1;
			visibility: visible;
		}
	}
	.quantity {
		padding: 7px 20px;
	}
}

.mc-body {
}

.mc-thumb {
	max-width: 100px;
	flex-basis: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 5px;

	@include respond(phone-sm) {
		max-width: 80px;
	}

	.mc-item-remove {
		z-index: 1;
		color: #fff;
	}
}

.mc-item-content {
	flex: 1;
	margin-left: 15px;
	position: relative;

	h5 {
		font-size: 16px;
		color: #000;
		margin-bottom: 0;

		a {
			color: inherit;
			font-size: inherit;
			line-height: inherit;
		}
	}

	.price {
		color: #777;
		text-transform: capitalize;
		margin-bottom: 5px;
	}
	.item-total-price {
		font-size: 18px;
		font-weight: $semibold;
		color: #000;
		position: absolute;
		right: 0;
		bottom: 10px;
		margin-bottom: 0;
	}
}

.mc-item-remove {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: $transition;
	opacity: 1;
	visibility: hidden;
}

.mc-thumb:after {
	content: "";
	background: rgba(0, 0, 0, 0.35);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	opacity: 1;
	visibility: hidden;
	transition: $transition;
}

.mc-footer {
	position: relative;
	width: 100%;
	margin-top: 30px;

	a {
		display: flex;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
		background-color: $secondary;
		// background-color: #000;
		color: #fff;
		font-size: 18px;
		line-height: 1;
		border-radius: 5px;
		padding: 15px;
		text-transform: capitalize;
		justify-content: space-between;

		span {
			&:last-of-type {
				border-left: 2px solid #fff;
				padding-left: 20px;
			}
		}
	}
}

.products-list {
	.card {
		margin-bottom: 30px;
	}
}

.single-member figure .cricnotch-btn.cart-btn {
	font-size: 17px;
	padding: 0;
	height: 45px;
	width: 45px;
	display: flex;
	align-items: center;
	line-height: 0;
	justify-content: center;
	border-radius: 50%;
}
