// Font family
$default: "Source Sans Pro", sans-serif;

// Font weight
$light: 300;
$medium: 500;
$semibold: 600;
$regular: 400;
$bold: 700;

// Common transition
$transition: all 300ms ease-in-out;

// Colors
$primary: #2647d6;
$secondary: #32cf8a;
$white: #fff;
