/* common css start */
* {
    font-family: "Poppins", sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: unset;
}
p{
    margin-bottom: 0;
}
body {
    height: 100vh;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    background-color: #000000;
    color: #ffffff;
}
img{
    width: 100%;
}
.container-fluid{
 padding: 0 34px;
}
.cp__link-btn {
    color: #00FFFF;
    border: 2px solid #00FFFF;
    border-radius: 100px;
    padding: 8px 30px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.cp__link-btn:hover {
    background: #00FFFF;
    color: #0F0E0E;
}
.cp__fill-btn {
    color: #0F0E0E;
    font-weight: 500;
    border-radius: 100px;
    padding: 16px 40px;
    border: 2px solid #00FFFF;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    transition: all 0.1s ease-in-out;
    background: #00FFFF;
    animation: pulse-animation 1s infinite;
}
@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(5, 234, 234, 0.511);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(41, 216, 22, 0);
    }
  }

  
.cp__fill-btn:hover .cp__green {
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.cp__fill-btn:hover .cp__black {
    display: none;
    transition: all 0.2s ease-in-out;
}
.cp__fill-btn .cp__green {
    display: none;
    transition: all 0.2s ease-in-out;
}
.cp__fill-btn:hover {
    background: transparent;
    color: #00FFFF !important;
}
.cp__fill-btn img {
    max-width: 24px;
    margin-left: 8px;
}
.cp__header-right .cp__link-btn {
    margin-right: 16px;
}
main {
    background-color: #0F0E0E;
}
h2.cp__sec-title{
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
}
@media (max-width: 991px){
    .text-end {
        text-align: left!important;
    }
    h2.cp__sec-title {
        font-size: 30px;
    }
}
/* hero section start */
.cp__card {
    border: 3px solid #00FFFF;
    border-radius: 12px;
    padding: 32px;
    width: 100%;
    float: right;
}
.cp__card-top {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 16px;
}
.cp__card-top > span {
    font-size: 30px;
    font-weight: 600;
}
.cp__card-top p span {
    font-size: 24px;
    font-weight: 600;
}
.cp__card-middle .cp__score-desc p {
    font-size: 18px;
}
.cp__card-middle .cp__score-desc {
    padding-left: 16px;
}
.cp__card-middle .cp__right .cp__score-desc {
    order: 0;
    padding: 0 16px 0 0;
    text-align: right;
}
.cp__card-middle .cp__right img {
    order: 1;
}
.cp__card-middle {
    padding: 30px 0;
    border-bottom: 1px solid #dddddd;
}
.cp__card-bottom p {
    font-size: 20px;
    font-weight: normal;
}
.cp__card-bottom {
    padding-top: 16px;
}
.cp__card-bottom {
    padding: 16px 0 40px;
}
.cp__card-btngrp .cp__fill-btn {
    width: 50%;
    text-align: center;
    font-size: 20px;
}
.cp__card.cp__single-btn .cp__card-btngrp .cp__fill-btn {
    width: 100%;
}
.cp__card-btngrp {
    gap: 24px;
}
.cp__hero-sec h1 {
    font-size: 25px;
    line-height: 1.5;
    font-weight: normal;
    padding: 50px 0;
}
.cp__hero-sec {
    padding: 100px 0;
    position: relative;
}
.cp__hero-sec .container {
    position: relative;
    z-index: 99;
}
.cp__card-middle .cp__team_img{
    height: 60px !important;
    width: 60px !important;
    border-radius: 100%;
    border: 3px solid #00FFFF;
}
.cp__hero-cardslider {
    padding-left: 60px;
}
.cp__hero-content {
    padding-right: 30px;
}
.cp__txt-green {
    color: #00FFFF;
}
.cp__hero-content h2 {
    line-height: 1.5;
    text-transform: uppercase;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullet-active {
    background: #00FFFF!important;
}
.swiper-pagination-bullet {
    background: #fff!important;
}
span.cp__blue, span.cp__red {
    background-color: #0076ff;
    border-radius: 7px;
    color: #fff;
    display: inline-block;
    padding: 2px 10px;
    font-weight: 500;
}
span.cp__red{
    background-color: #F81616;
}
span.cp__blue {
    margin: 0 10px;
}
.cp__herobg-img img {
    max-width: 70%;
}
.cp__herobg-img {
    position: absolute;
    top: -65px;
    left: 0;
    right: auto;
}
.cp__card-top p span {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #00FFFF;
    border-radius: 100%;
    margin-right: 10px;
    animation: pulse 0.5s infinite;
}
.cp__card-top p {
    font-size: 22px;
    color: #00FFFF;
    font-weight: 600;
}
.cp__hero-wrap .swiper-slide{
 padding-bottom: 45px;
}
@media (max-width:991px){
    .cp__card{
        width: 100%;
        padding: 16px;
    }
    .cp__card-middle .cp__team_img {
        height: 40px !important;
        width: 40px !important;
        border-radius: 100%;
        border: 3px solid #00FFFF;
    }
    .cp__vs img {
        height: 16px;
    }
    .cp__card-middle .cp__score-desc p {
        font-size: 12px;
    }
    .cp__hero-sec {
        padding: 0 0 60px;
    }
    .cp__hero-content {
        padding-right: 0;
        order: 1;
    }
    .cp__hero-sec h1 {
        padding: 30px 0;
    }
    .cp__hero-cardslider {
        padding-left: 0;
        width: 100%;
        margin-top: 0;
        order: 0;
        margin-bottom: 35px;
    }
    .cp__card-bottom {
        padding: 16px 0 30px;
    }
    .cp__card-bottom p{
        font-size: 16px;
    }
    .cp__hero-sec .container {
        padding: 0;
    }
    .cp__hero-wrap {
        padding: 16px 12px 0;
    }
    .nav-link {
        padding: 14px 5px;
        color: #ffffff;
        min-width: 105px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #00FFFF;
        background-color: transparent;
        border: 0;
    }
    .nav-tabs .nav-item.show .nav-link:before, .nav-tabs .nav-link.active:before {
        content: '';
        background-color: #00FFFF;
        width: 80%;
        height: 3px;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .cp__hero-sec h1 {
        font-size: 20px;
    }
    .cp__hero-content h2 {
        font-size: 22px;
    }
    .cp__mobile-tab .nav-tabs {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        background-color: #212121;
        overflow-y: hidden;
    }
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        border: 0;
        color: #00FFFF;
    }
    .cp__card-top > span {
        font-size: 24px;
    }
    .nav-tabs .nav-link{
        position: relative;
    }
    .cp__herobg-img{
        display: none;
    }
    .cp__card-btngrp {
        gap: 12px;
    }
    .cp__card-btngrp .cp__fill-btn {
        padding: 16px 17px;
        font-size: 16px;
    }
    
}
/* hero section end */
/* company overview section start */
.cp__bottom-view {
    background-color: rgba(66, 66, 66, 0.35);
    padding: 32px;
    border-radius: 12px;
    border: 1px solid #dddddd;
    position: relative;
    margin-top: 60px;
}
.cp__bottom-view:before {
    content: '';
    position: absolute;
    background-color: #515151;
    width: 2px;
    height: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.cp__bottom-view .cp__desc {
    padding-left: 24px;
}
.cp__bottom-view .cp__img {
    position: relative;
    top: -8px;
}
.cp__bottom-view .cp__desc h4 {
    margin-bottom: 0;
}
.cp__bottom-view .cp__desc span {
    color: #777777;
    font-size: 14px;
}
.cp__bottom-view .cp__desc ul {
    padding-top: 20px;
    padding-bottom: 20px;
}
li.cp__before-dot:before {
    content: '';
    background-color: #00FFFF;
    width: 13px;
    height: 13px;
    position: absolute;
    border-radius: 100px;
    left: 0;
    top: 5px;
}
li.cp__before-dot {
    position: relative;
    padding-left: 28px;
    margin-bottom: 13px;
}
.cp__bottom-view .cp__right-view {
    padding-left: 145px;
}
.cp__top-view h3 {
    margin-bottom: 24px;
}
.cp__coverview-sec {
    margin-bottom: 100px;
    position: relative;
}
.cp__coverview-sec .cp__img-block img {
    max-width: 77%;
}
.cp__coverview-sec .cp__top-view {
    padding-left: 50px;
}
.cp__coverview-sec{
    position: relative;
}
.cp__coverview-sec .cp__img-block {
    position: relative;
}
.cp__coverview-sec .cp__moon-sign{
    position: absolute;
    left: 5px;
    top: 16px;
    max-width: 74%;
    animation: Rotate 20s linear infinite;
    -webkit-animation: Rotate 20s linear infinite;
}
@media (max-width:991px){
    .cp__img-block {
        text-align: center;
    }
    .cp__coverview-sec .cp__top-view {
        padding-left: 0;
        padding-top: 50px;
    }
    .cp__bottom-view {
        margin-top: 30px;
    }
    .cp__bottom-view {
        padding: 24px;
    }
    .cp__bottom-view li {
        font-size: 14px;
    }
    .cp__bottom-view > div {
        width: 100%;
    }
    .cp__bottom-view .cp__right-view {
        padding-left: 0;
        padding-top: 30px;
        border-top: 1px solid #dddddd;
        margin-top: 30px;
    }
    .cp__bottom-view .cp__desc {
        padding-left: 16px;
    }
    .cp__bottom-view .cp__img {
        top: 2px;
    }
    .cp__bottom-view .cp__right-view .cp__desc ul {
        padding-bottom: 0;
    }
    .cp__comover-wrap{
        flex-wrap: wrap;
    }
    .cp__bottom-view:before{
        content: none;
    }
  
}
/* company overview section end */

.cp__coverview-sec .cp__moon-sign {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.cpj-loader {
    height: 30px;
    width: auto;
    margin: auto;
}
  
.loader-container {
    width: 100%;
    text-align: center;
    height: 100vh;
}

/* feature section css start */
.cp__feature-sec ul li button {
    text-align: left;
    color: #ffffff !important;
    background-color: rgba(66, 66, 66, 0.35) !important;
    padding: 24px;
    border-radius: 12px !important;
    border: 1px solid #dddddd !important;
    margin: 16px 0;
    font-size: 18px;
    line-height: 1.5;
}
.cp__feature-sec ul li button:before {
    content: '';
    position: absolute;
   
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 12px;
    width: 0%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    
}
.cp__feature-sec ul li button:hover:before{
    content: '';
    width: 100%;
    z-index: 0;
    background: #00FFFF;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d6efd;
    background: #00FFFF;
}
.nav-pills .nav-link.active p, .nav-pills .show>.nav-link p{
    color: #00FFFF;
    z-index: 99;
    position: relative;
}

.cp__feature-sec ul li button:hover p {
    color: #000000;
    z-index: 99;
    position: relative;
}

.cp__feature-sec ul li button:hover img{
    z-index: 99;
    position: relative;
}
.cp__feature-sec ul li button p {
    padding-left: 24px;
    font-size: 16px;
    line-height: 1.6;
}
.cp__feature-sec ul li button img {
    max-width: 70px;
}
.cp__feature-sec .tab-content {
    padding-left: 60px;
}
.cp__feature-sec {
    margin: 70px 0;
}
.cp__feature-sec h2 {
    margin-bottom: 60px;
}
@media (max-width:991px){
    .cp__feature-sec h2 {
        margin-bottom: 40px;
    }
    .cp__feature-sec ul li button {
        padding: 16px;
        align-items: self-start !important;
    }
    .cp__feature-sec ul li button img {
        max-width: 50px;
    }
    .cp__feature-sec ul li button p {
        padding-left: 14px;
        font-size: 14px;
        line-height: normal;
    }
    .cp__feature-sec .tab-content {
        padding-left: 0;
    }
}
/* feature section css end */
/* buy our reports section start */
.cp__buypro-sec p {
    margin-bottom: 30px;
    font-size: 20px;
}
.cp__buypro-sec h2 {
    margin-bottom: 60px;
}
.cp__buy-content {
    padding-right: 100px;
}
.cp__buybg-img {
    position: absolute;
    bottom: -75px;
    opacity: 0.5;
    animation: Rotate 20s linear infinite;
    -webkit-animation: Rotate 20s linear infinite;
    left: -105px;
}
.cp__buypro-sec {
    position: relative;
    overflow: hidden;
}
@media (max-width:991px){
    .cp__buypro-sec h2 {
        margin-bottom: 40px;
    }
    .cp__buy-content {
        padding-right: 0;
        padding-bottom: 30px;
    }
    .cp__buybg-img{
        display: none;
    }
}
/* buy our reports section end */
/* FAQ section css start */
.accordion-item {
    background-color: rgba(66, 66, 66, 0.35) !important;
    padding: 24px;
    border-radius: 12px !important;
    border: 1px solid #dddddd !important;
    margin-bottom: 32px;
}
.accordion-item .accordion-button {
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    font-size: 24px;
}
.accordion-item .accordion-button:focus{
    outline: 0;
    border: 0;
    box-shadow: unset;
}
.accordion-item .accordion-body {
    padding: 26px 0 0;
    max-width: 65%;
}
.cp__faq-sec h2.cp__sec-title {
    margin-bottom: 60px;
}
.cp__faq-sec .accordion {
    padding: 0 100px;
}
.cp__faq-sec {
    padding: 60px 0 150px;
    position: relative;
}
.accordion-button::after {
    background-image: url(../images/ep_arrow-white.svg);
    transform: rotate(178deg);
}
.accordion-button:not(.collapsed)::after{
    background-image: url(../images/arrow-green.svg);
}
.cp__faq-sec .cp__faqbg-img {
    position: absolute;
    top: 112px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
}
.cp__faq-sec .cp__faqbg-img img {
    max-width: 60%;
    opacity: 0.3;
}
.cp__faq-sec .container {
    position: relative;
    z-index: 1;
}
@media(max-width: 991px){
    .cp__faq-sec .accordion {
        padding: 0;
    }
    .accordion-item {
        padding: 16px;
    }
    .accordion-item .accordion-button {
        font-size: 16px;
        line-height: 1.5;
    }
    .accordion-item .accordion-body {
        max-width: 100%;
        font-size: 14px;
    }
    .cp__faq-sec h2.cp__sec-title {
        margin-bottom: 40px;
    }
    .cp__faq-sec .cp__faqbg-img{
        display: none;
    }
}
/* FAQ section css end */
/* about us css start */
.cp__about-sec .cp__sec-title{
    margin-bottom: 60px;
}
.cp__about-sec .cp__start-img {
    max-width: 70px;
}
.cp__about-sec p {
    padding: 20px 0;
    line-height: 1.7;
}
.cp__about-sec h3 {
    margin-top: 24px;
}
.cp__about-btn a:nth-child(2) img {
    max-width: 30px;
    margin-right: 16px;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
}
.cp__about-btn a:nth-child(2) {
    font-size: 18px;
}
.cp__about-sec .container {
    position: relative;
    z-index: 99;
}
.cp__about-btn a:nth-child(2):hover img {
    transform: scale(1.1);
}
.cp__about-btn a {
    color: #ffffff;
}
.cp__about-btn .cp__fill-btn {
    color: #0F0E0E;
    margin-right: 24px;
}
.cp__about-img > .cp__img-block {
    text-align: center;
    width: 470px;
    height: 470px;
    position: relative;
    margin: 0 auto;
}
.cp__about-img {
    position: relative;
}
.cp__about-img > .cp__img-block img {
    border-radius: 12px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #00FFFF;
}
.cp__exp-desc {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}
.cp__exp-desc span:first-child {
    color: #000000;
    display: inline-block;
    width: 100%;
    font-size: 65px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    position: relative;
    z-index: 9;
}

.cp__exp-desc span:last-child {
    color: #000000;
    line-height: 1.2;
    font-size: 19px;
    font-style: italic;
    position: relative;
    top: -17px;
    display: inline-block;
    width: 100%;
    font-weight: 500;
}
.cp__exp-desc:before {
    content: '';
    position: absolute;
    background-color: #00FFFF;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    left: -18px;
    top: -16px;
    z-index: 0;
}
.cp__about-btn {
    margin: 50px 0 0;
}
.cp__aboutbg-img img {
    max-width: 60%;
    animation: Rotate 20s linear infinite;
    -webkit-animation: Rotate 20s linear infinite;
}
.cp__aboutbg-img {
    position: absolute;
    right: -121px;
    top: -55px;
    text-align: right;
    opacity: 1;
   
}
@-webkit-keyframes Rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
.cp__about-sec {
    position: relative;
    overflow: hidden;
}
@media (max-width:991px){
    .cp__about-img > .cp__img-block {
        width: 100%;
        height: 100%;
    }
    .cp__exp-desc {
        left: 0;
        right: 0;
        margin: 0 auto;
        top: auto;
        bottom: 45px;
    }
    .cp__about-img {
        padding-bottom: 120px;
    }
    .cp__aboutbg-img {
        top: -82px;
        text-align: center;
        opacity: 1;
        right: 0;
        margin: 0 auto;
    }
    .cp__about-sec {
        overflow: unset;
    }
    .cp__about-btn .cp__fill-btn {
        color: #0F0E0E;
        margin-right: 13px;
        padding: 16px;
    }
}
/* abouts us css end */
@media (max-width: 991px){
    .cp__header-right img{
        display: none;
    }
    .cp__header-right .cp__link-btn {
        margin-right: 10px;
    }
    body.cp__menu-open {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 0;
    }
}

.online-red-dot {
    display: block!important;
    margin-right: 7px;
    margin-top: 7px;
    width: 15px;
    height: 15px;
    background-color: #ff0000; /* Green color for online status */
    border-radius: 50%;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
}

.cp__team_img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 3px solid #41E74C;
}

.cp__custom-category {
    font-size: 20px;
    font-weight: 600;
}

.tv-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tv {
    background: #2a2a2a;
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: relative;
    border: 13px solid #555555;
}

.tv-score {
    background-color: #ffffff;
    width: 100%;
    padding: 3px 5px;
    border-radius: 0px 0px 4px 4px;
}

.just-set {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: inherit;
}

.volume-icon-set {
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.summer-yellow {
    color: black!important;
    background-color: #FFFF00!important;
}

.table-v2-card {
    border: 1px solid #00FFFF;
    border-radius: 10px;
}

.table-v2 {
    color: white;
    width: 100%;
}

.table-v2 th {
    border-bottom: 1px solid #00FFFF;
}

.back-color.bl-style {
    position: relative;
    background-color: #0076ff;
    border: 1px solid;
    border-radius: 5px;
}

.lay-color.bl-style {
    position: relative;
    background-color: #F81616;
    border: 1px solid;
    border-radius: 5px;
}

.table-width-th {
    width: 60%;
}

.table-width-td {
    width: 20%;
}

.score {
    width: 100%;
    height: auto;
    color: #fff;
    padding: 10px;
    min-height: 135px;
    font-size: 23px;
    text-transform: capitalize;
    align-items: center;
    display: flex;
    text-align: center;
    line-height: 1;
    justify-content: center;
}

.score span {
    margin-top: 30px;
}

.fc-img-style {
    height: 70px;
    width: auto;
}
  
.rate-container {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}
  
.left-side {
    text-align: left;
    width: 50%; /* You can adjust the width as needed */
    color: #ffffff;
    font-weight: 500;
    font-size: small;
}

.powerplay-set {
    color: #ffffff;
    font-weight: 500;
    font-size: small;
}
  
.right-side {
    text-align: right;
    width: 50%; /* You can adjust the width as needed */
    color: #ffffff;
    font-weight: 500;
    font-size: small;
}

.score-card-lg {
    padding: 20px;
}
  
.score-card-lg .score-card-header strong {
    font-size: 15px;
    line-height: 21px;
}
  
.score-card-lg .score-card-header span {
    font-size: 14px;
    line-height: 20px;
}

.score-card-body {
    display: flex;
    justify-content: space-between;
}

.bg-cyan {
    background: #00FFFF;
}

.score-card-lg .score-update h5 {
    font-size: 18px;
    line-height: 25px;
}
  
.score-card-lg .score-update p {
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
  
.score-card-lg .flag-avatar figure {
    margin-bottom: 2px;
}
  
.score-card-lg .flag-avatar span {
    font-size: 14px;
    line-height: 17px;
}
  
.score-card-lg .floating-text {
    font-size: 12px;
    line-height: 17px;
}
 
.country-info {
    cursor: pointer;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

@media screen and (max-width: 767px) {
    .table .country-info {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
    }
}

.country-name {
    color: inherit;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-flex;
    font-weight: 600;
    margin-right: 5px;
}

.text-muted {
    color: #0F0E0E!important;
    font-size: 12px;
    margin: 0;
    line-height: 17px;
}

.cp__fill-btn-live {
    margin: 7px 0px -5px;
    color: #0F0E0E;
    cursor: pointer;
    border-radius: 100px;
    padding: 5px;
    border: 2px solid #00FFFF;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    transition: all 0.1s ease-in-out;
    background: #00FFFF;
    width: 100%;
    display: block;
    text-align: center;
    animation: pulse-animation 1s infinite;
}

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;  
}

.badge-primary {
    background-color: #00FFFF !important;
}

.cp__event-status {
    background-color: #00ffff;
    color: #0F0E0E;
    padding: 6px 12px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px 0px 6px 0;
    font-weight: 500;
    min-width: 110px;
    text-align: center;
}

.badge-warning {
    background-color: yellow !important;
}

.badge-danger {
    background-color: red!important;
}

.badge-success {
    background-color: green!important;
}

.cp__fill-btn-profile {
    cursor: pointer;
    padding: 0px 7px;
    color: #0F0E0E;
    border-radius: 100px;
    border: 2px solid #00FFFF;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 0.1s ease-in-out;
    background: #00FFFF;
    width: 100%;
    display: block;
    text-align: center;
    animation: pulse-animation 1s infinite;
}

.fit-content {
    width: fit-content;
    }
  
.m-time-set {
    border-top: 1px solid #d2d2d2;
}

.fancy-min {
    color: #0076ff;
}

.fancy-max {
    color: #f81616;
}

.fancy-b-min {
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    color: #fff;
    justify-content: center;
    background-color: #0076ff;
}

.fancy-b-max {
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    color: #fff;
    justify-content: center;
    background-color: #F81616;
}

.spell-sum-box {
    padding: 10px;
    font-weight: 600;
    border: 1px solid #00FFFF;
    border-radius: 10px;
    color: #fff;
}

.suspend-style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    font-size: 8px;
    border-radius: 5px;
    color: black;
    background: rgb(255 255 255 / 57%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.spell-sum-box h5 {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 13px;
}
  
.spell-sum-box h5 span {
    color: #ffffff;
    font-weight: 400;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
  
.spell-sum-box .recent-spell {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
  
.spell-sum-box .recent-spell label {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 15px;
    margin-bottom: 0;
}
  
@media screen and (max-width: 767px) {
    .spell-sum-box .recent-spell label {
      margin-bottom: 10px;
    }
}
  
.spell-sum-box .recent-spell ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
  
.spell-sum-box .recent-spell ul:not(:last-of-type) {
    margin-right: 20px;
}
  
.spell-sum-box .recent-spell ul li {
    display: inline-block;
}
  
.spell-sum-box .recent-spell ul li:not(:last-child) {
    margin-right: 2px;
}
  
@media screen and (max-width: 767px) {
    .spell-sum-box .recent-spell ul li {
      margin-bottom: 10px;
    }
}
  
.spell-sum-box .recent-spell ul li span {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #f6f7fb;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
}
  
@media screen and (max-width: 767px) {
    .spell-sum-box .recent-spell ul li span {
      width: 30px;
      height: 30px;
      font-size: 12px;
    }
}

.li-active {
    color: #00FFFF;
}

.li-inactive {
    color: white;
}

.ul-group-set {
    margin-top: 13px;
}

.ul-group-set ul {
    display: flex;
    overflow-x: auto;
}

.ul-group-set ul li {
    cursor: pointer;
    padding: 5px;
    border: 2px solid;
    margin: 2px;
    border-radius: 10px;
    min-width: 140px;
    width: 100%;
    text-align: center;
}

.w-img-set {
    height: 50px;
    margin-top: 10px;
    width: auto;
}

.weather-card {
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(1.2em);
    /* background: url('https://i.postimg.cc/2y8wPwX3/7cd57f8b757aea1e128f2f8f6b2c1983.gif') no-repeat;
    background-repeat: no-repeat;
    background-size: cover; */
}

.cp__justify-content {
    display: flex;
    justify-content: space-between;
}

.left-col-set {
    font-size: smaller;
    text-transform: uppercase;
}

.c-run-set-1 {
    margin-top: 5px;
    height: 28px;
    width: 28px;
    background-color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 500;
    border-radius: 100%;
}
  
.c-run-set-2 {
    height: 28px;
    width: 28px;
    background-color: #3f8a36;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 500;
    border-radius: 100%;
}

.type-1-comment {
    margin: 10px 0px;
    background: #373737;
    padding: 10px;
    border-radius: 10px;
}

.type-s-1 {
    margin-right: 5px;
}

.type-s-2-1 {
    color: #7298ba;
    margin-right: 5px;
}

.type-s-2-2 {
    color: #3f8a36;
    margin-right: 5px;
}

.type-s-3 {
    color: #00FFFF;
}  

.right-col-set {
    padding: 0px 10px;
    display: flex;
    background-color: #3c3c3c;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-size: smaller;
}

.right-odd {
    margin-right: 10px;
    color: #00FFFF;
}

.left-odd {
    color: darkorange;
}

.c-type-2-set {
    background-color: #212020;
    border: 1px solid #dddddd;
    border-radius: 12px;
    color: #fff;
}

.playx11 .accordion {
    cursor: pointer;
}

.playx11 .accordion-item {
    margin-bottom: 10px;
    margin-top: 10px;
}
.display-s-set {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cp__form-wrap .form-control {
    background-color: transparent !important;
    color: #ffffff !important;
}

.cp__relative {
    position: relative;
}

.autocomplete-dropdown-container {
    padding: 5px 10px;
    border: 1px solid #00FFFF;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 100%;
    background-color: #0f0e0e;
    z-index: 999;
}

.table>:not(caption)>*>* {
    color: #ffffff;
    font-size: smaller;
    width:max-content;
}
table {
    white-space: nowrap!important;
}
.cp__form-wrap{
    background: transparent;
    width: 100%;
    /* max-width: 850px; */
    padding: 20px;
    border: 2px solid #00FFFF;
    /* margin: 0 auto; */
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.cp__form-wrap .btn-primary:focus  {
    color: #000 !important;
    background-color: #00FFFF !important;
    border-color: #00FFFF !important;
}
.doesn-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.forgot-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #00FFFF;
    text-decoration: underline;
}

.cp__form-group{
    margin-bottom: 25px;
}
.cp__form-group > label{
    display: block;
    font-size: 18px;	
    color: #fff;
}
.custom-control-label{
    color: #fff;
    font-size: 16px;
}
.cp__form-control{
    height: 50px;
    background: #ecf0f4;
    border-color: transparent;
    padding: 0 15px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cp__form-control:focus{
    border-color: #00FFFF;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}
textarea.form-control{
    height: 160px;
    padding-top: 15px;
    resize: none;
}

.btn{
    padding: .657rem .75rem;
    font-size: 18px;
    letter-spacing: 0.050em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
  color: #000;
  width: 100%;
  font-weight: 600;
  background-color: #00FFFF;
  border-color: #00FFFF;
}

.btn-primary:hover {
    color: #000;
    width: 100%;
    font-weight: 600;
    background-color: #00FFFF;
    border-color: #00FFFF;
}

/* listing page style start */
.cp__listing-wrap .cp__card {
    background-color: rgba(66, 66, 66, 0.35) !important;
    padding: 24px;
    border-radius: 12px;
    float: none;
    align-items: flex-end;
    border: 1px solid #dddddd;
}
.cp__listing-wrap {
    padding: 60px 0 150px;
    max-width: 80%;
    margin: 0 auto;
}
.cp__listing-wrap .cp__card-top {
    border-bottom: 0;
    padding: 0;
}
.cp__listing-wrap .cp__card-middle {
    padding: 12px 0;
    border-bottom: 0;
}
.cp__listing-wrap .cp__card-middle .cp__score-desc {
    padding-left: 0;
}
.cp__listing-wrap .cp__card-middle .cp__right .cp__score-desc {
    padding: 0;
}
.cp__listing-wrap .cp__card-bottom {
    padding: 0;
}
.cp__listing-wrap .cp__card-top > span {
    font-size: 24px;
}
.cp__listing-wrap .cp__card-middle .cp__score-desc p {
    font-size: 18px;
    display: inline-block;
}
.cp__listing-wrap .cp__card-middle .cp__score-desc .cp__over {
    padding-left: 15px;
    color: #00FFFF;
}
.cp__listing-wrap .cp__vs img {
    max-width: 60%;
    height: 40px;
    margin: 0 auto;
}
.cp__listing-wrap .cp__vs {
    margin: 0 10px;
    text-align: center;
}
.cp__listing-wrap .cp__card-bottom > span {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    margin: 0 15px;
}
.cp__listing-wrap .cp__card-btngrp .cp__fill-btn {
    padding: 10px 16px;
    font-size: 18px;
    white-space: nowrap;
}
.cp__listing-wrap .cp__card.cp__single-btn .cp__card-btngrp .cp__fill-btn{
    width: 100%;
}
.cp__listing-wrap .cp__card-btngrp {
    max-width: 400px;
}
.cp__listing-wrap .cp__card {
    margin: 24px 0;
    position: relative;
}
.cp__listing-wrap .cp__card-content {
    padding-top: 28px;
}
.cp__list-sec {
    position: relative;
}
@media (max-width: 1199px){
    .cp__listing-wrap .cp__card {
        flex-wrap: wrap;
    }
    .cp__listing-wrap .cp__card-btngrp {
        max-width: 100%;
        margin: 22px 0 0;
    }
    .cp__listing-wrap {
        padding: 30px 0 120px;
        max-width: 100%;
    }
}
@media (max-width: 767px){
    .cp__listing-wrap .cp__card{
        padding: 16px;
    }
    .cp__listing-wrap .cp__card-middle .cp__score-desc .cp__over {
        padding-left: 0;
        width: 100%;
    }
    .cp__listing-wrap {
        padding: 0 0 100px;
    }
}
/* listing page style end */

/* Scroll bar stylings */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--lightestgrey); 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a4a4a4; 
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #808080; 
}